.svg-dialoge {
  width: 437.663px;
  height: 437.663px;
}

.svg-done {
  width: 510px;
  height: 510px;
}

.svg-fb {
  width: 49.652px;
  height: 49.652px;
}

.svg-insta {
  width: 49.652px;
  height: 49.652px;
}

.svg-key {
  width: 56px;
  height: 56px;
}

.svg-star {
  width: 49.94px;
  height: 49.94px;
}

.svg-vk {
  width: 112.196px;
  height: 112.196px;
}

