.page {
  &__header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    background-color: #ccc;
    background-image: url(../img/bg.jpg);
    background-position: 50% 50%;
    background-size: cover;
  }

  &__title {
    margin: 50px 0;
    text-align: center;
    font-size: 62px;
    line-height: 72px;
    font-weight: 600;
    color: $c-attend;
  }

  &__subtitle {
    margin: 7px 0;
    text-align: center;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    color: $c-attend;
    text-decoration: none;
  }

  &__table-container {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  &__table-cell {
    display: table-cell;
    vertical-align: middle;
  }

  &__logo-cell {
    height: 100vh;
  }
}

@include mq(tablet) {
  .page {
    &__header {
      margin-bottom: 48px;
    }
    &__title {
      font-size: 50px;
    }
    &__subtitle {
      font-size: 30px;
      line-height: 1.3;
    }
  }
}

@include mq(mobile) {
  .page {
    &__title {
      font-size: 30px;
      line-height: 1.3;
    }

    &__subtitle {
      font-size: 22px;
      line-height: 1.3;
    }
  }
}
