.process {
  margin-bottom: 80px;

  &__list {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  &__item {
    margin: 0;
    padding: 0 2.5%;
  }

  &__icon {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 30px auto;
    border-radius: 50%;
    background-color: #e2e2e2;
  }

  &__svg {
    @include centerer();
    height: 50px;
  }
}

@include mq(tablet) {
  .process {

    &__title {
      margin-bottom: 20px;
    }
  }
}

@include mq(mobile) {
  .process {
    margin-bottom: 50px;
  }
}
