.service {
  width: 90%;
  margin: 0 auto;

  &__block {
    text-decoration: none;
    background-color: #fff;
  }

  &__img {
    width: 100%;
    max-height: 390px;
    overflow: hidden;

    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  &__content {
    padding: 40px 20px;
  }

  &__text {
    font-size: 18px;
    line-height: 1.8;
  }
}

@include mq(tablet) {
  .service {
    &__block {
      padding: 30px;
      margin: 30px auto 0 auto;
    }
  }
}


@include mq(mobile) {
  .service {
    &__block {
      max-width: 100%;
      padding: 10px;
    }
    &__content {
      padding: 20px 10px;
    }
  }
}
